@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom css for input phone 2 modification */
.react-tel-input .form-control {
  width: 100% !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  outline: 2px solid transparent !important;
  outline-offset: 2px !important;
  border: 1px solid #e5e7eb !important;
}

.react-tel-input .form-control:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

.selected-flag.open:before,
.react-tel-input .selected-flag:focus:before {
  box-shadow: none !important;
  border: none !important;
}

/* datepicker custom css */
.react-datepicker__input-container .react-datepicker__calendar-icon {
  padding-top: 0.7rem !important;
}

.css-13cymwt-control,
.css-13cymwt-control:focus {
  border-color: #e5e7eb !important;
  outline: none !important;
}

/* React select */
.css-1u9des2-indicatorSeparator {
  display: none;
}
.multi-select__clear-indicator {
  display: none !important;
}
.css-tr4s17-option,
.css-d7l1ni-option {
  background-color: #fff !important;
  color: inherit !important;
}
.css-d7l1ni-option:active {
  background-color: #fff !important;
}

.css-t3ipsp-control {
  border: none !important;
}

/* svg color */
.svgColor {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(195deg)
    brightness(150%) contrast(102%);
}
