@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom css for input phone 2 modification */
.react-tel-input .form-control {
  width: 100% !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  outline: 2px solid transparent !important;
  outline-offset: 2px !important;
  border: 1px solid #e5e7eb !important;
}

.react-tel-input .form-control:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

.selected-flag.open:before,
.react-tel-input .selected-flag:focus:before {
  box-shadow: none !important;
  border: none !important;
}
